* {
    /*  Prefix */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    background-color: var(--over-background-color);
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-inter);
}

body {
    max-height: 100%;
    background-color: var(--out-background-color);
}

:root {
    --out-background-color: #23252c;
    --background-inter: #1a1b21;
    --footer-color: #161619;
}


/*  Media Response */
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 600px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 700px;
    }
}


/* Start Header */


.content .container .image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content .container .image img {
    border: 4px solid black;
    width: 40%;
}


.content .container .info {
    text-align: center;

}

.content .btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 1.1s;
}

.content .btn button,
i {
    cursor: pointer;
}

.content .btn button {
    width: 320px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 600;
    animation-duration: 1s;
    transition: 1s;
}

.content .btn:hover {
    transform: scale(1.1);
}


.content .btn i {
    position: absolute;
    transform: translateX(-224%);
    color: black;
}


/* End Header */


/* Start Main */


main .container .about,
main .container .intrest {
    padding: 0 20 20 20;
}

main .container .about h3,
.intrest h3 {
    font-weight: bold;
}

main .container .about p {
    letter-spacing: 1.5px;
    line-height: 1.6;
}


main .container li {
    padding: 10px;
}


@media (max-width: 767px) {
    main .container .about p {
        letter-spacing: 1.5px;
        line-height: 2;
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    main .container .about p {
        letter-spacing: 1.5px;
        line-height: 1.6;
        font-size: 15px;
    }
}
main .container .intrest ul li {
    opacity: 0;
    animation: show 12s ease-in-out infinite;
}

main .container .intrest ul li:nth-child(1) {
    animation-delay: 0s;
}

main .container .intrest ul li:nth-child(2) {
    animation-delay: 1s;
}

main .container .intrest ul li:nth-child(3) {
    animation-delay: 2s;
}

main .container .intrest ul li:nth-child(4) {
    animation-delay: 3s;
}

main .container .intrest ul li:nth-child(5) {
    animation-delay: 4s;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    15% {
        opacity: 1;
        transform: scale(1.15);
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }

    80% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

/* End Main */


/* Start Footer */
footer {
    position: relative;
    padding: 30px 10px;
    padding: 0;
}

footer .container {
    background-color: var(--footer-color);
}

.links .container>div {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.links .container .linkedin {
    transition: 1.2s;

}

.links .container .linkedin:hover {
    transform: scale(1.2);
}

.links .container .x {
    transition: 1.2s;

}

.links .container .x:hover {
    transform: scale(1.2);
}

.links .container .portfolio {
    transition: 1.2s;

}

.links .container .portfolio:hover {
    transform: scale(1.2);
}

.links .container i,
.links .container p {
    cursor: pointer;
}

.links p {
    font-size: 14px;
    background-color: var(--footer-color);
}

.links>div i {
    font-size: 30px;
    background-color: var(--footer-color);
}

/* End Footer */